In [55]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_parquet("../data/raw/yellow_tripdata_2024-09.parquet")
df.head()

In [56]:
df = pd.read_parquet("../data/raw/yellow_tripdata_2024-09.parquet")
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-09-01 00:05:51,2024-09-01 00:45:03,1.0,9.80,1.0,N,138,48,1,47.8,10.25,0.5,13.30,6.94,1.0,79.79,2.5,1.75
1,1,2024-09-01 00:59:35,2024-09-01 01:03:43,1.0,0.50,1.0,N,140,141,1,5.1,3.50,0.5,3.00,0.00,1.0,13.10,2.5,0.00
2,2,2024-09-01 00:25:00,2024-09-01 00:34:37,2.0,2.29,1.0,N,238,152,2,13.5,1.00,0.5,0.00,0.00,1.0,16.00,0.0,0.00
3,2,2024-09-01 00:31:00,2024-09-01 00:46:52,1.0,5.20,1.0,N,93,130,1,24.7,1.00,0.5,4.55,0.00,1.0,31.75,0.0,0.00
4,2,2024-09-01 00:11:57,2024-09-01 00:30:41,2.0,2.26,1.0,N,79,231,1,17.0,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00

In [57]:
# Finding null values
df.isna().sum()

VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          483731
trip_distance                 0
RatecodeID               483731
store_and_fwd_flag       483731
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge     483731
Airport_fee              483731
dtype: int64

In [58]:
df_clean = df.dropna(how='all')

In [59]:
df_clean.shape

(3633030, 19)

In [60]:
df_clean['passenger_count'] = df_clean['passenger_count'].fillna(0)

In [61]:
df_clean['passenger_case'] = df_clean['passenger_count'].apply(lambda x: 'Has No Passengers' if x == 0 else 'Has Passengers')

In [62]:
df_clean.groupby('passenger_case')[['passenger_count']].sum()

                   passenger_count
passenger_case
Has No Passengers              0.0
Has Passengers           4104184.0

In [63]:
df_clean[df_clean['trip_distance']==0]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,passenger_case
10,1,2024-09-01 00:39:39,2024-09-01 00:40:04,1.0,0.0,1.0,N,262,262,3,3.0,3.5,0.5,0.00,0.00,1.0,8.00,2.5,0.0,Has Passengers
11,1,2024-09-01 00:40:13,2024-09-01 00:40:37,1.0,0.0,1.0,N,262,262,2,3.0,3.5,0.5,0.00,0.00,1.0,8.00,2.5,0.0,Has Passengers
12,1,2024-09-01 00:42:42,2024-09-01 00:42:57,1.0,0.0,1.0,N,262,262,2,3.0,3.5,0.5,0.00,0.00,1.0,8.00,2.5,0.0,Has Passengers
74,2,2024-09-01 00:13:34,2024-09-01 00:13:40,1.0,0.0,2.0,N,249,249,4,-70.0,0.0,-0.5,0.00,0.00,-1.0,-74.00,-2.5,0.0,Has Passengers
75,2,2024-09-01 00:13:34,2024-09-01 00:13:40,1.0,0.0,2.0,N,249,249,4,70.0,0.0,0.5,0.00,0.00,1.0,74.00,2.5,0.0,Has Passengers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3632755,2,2024-09-30 22:12:17,2024-09-30 22:12:38,0.0,0.0,NaN,None,107,107,0,-3.0,0.0,0.5,0.00,0.00,1.0,1.00,NaN,NaN,Has No Passengers
3632777,2,2024-09-30 22:43:39,2024-09-30 22:43:52,0.0,0.0,NaN,None,249,249,0,11.1,0.0,0.5,0.00,0.00,1.0,15.10,NaN,NaN,Has No Passengers
3632796,1,2024-09-30 22:17:39,2024-09-30 22:23:00,0.0,0.0,NaN,None,43,143,0,6.5,1.0,0.5,1.72,0.00,1.0,13.22,NaN,NaN,Has No Passengers
3632806,1,2024-09-30 23:28:13,2024-09-30 23:42:19,0.0,0.0,NaN,None,79,100,0,14.0,2.0,0.5,2.80,0.00,1.0,24.80,NaN,NaN,Has No Passengers
3633026,1,2024-09-30 23:29:30,2024-10-01 00:41:40,0.0,0.0,NaN,None,230,10,0,60.0,2.0,0.5,0.00,6.94,1.0,74.94,NaN,NaN,Has No Passengers

In [64]:
df_clean['trip_distance_flag'] = df_clean['trip_distance'].apply(lambda x: 'No Distance' if x == 0 else 'Has Distance')

In [65]:
df_clean.groupby('trip_distance_flag')[['trip_distance']].sum()

                    trip_distance
trip_distance_flag
Has Distance          20858929.41
No Distance                  0.00

In [66]:
df_clean.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,passenger_case,trip_distance_flag
0,1,2024-09-01 00:05:51,2024-09-01 00:45:03,1.0,9.80,1.0,N,138,48,1,...,10.25,0.5,13.30,6.94,1.0,79.79,2.5,1.75,Has Passengers,Has Distance
1,1,2024-09-01 00:59:35,2024-09-01 01:03:43,1.0,0.50,1.0,N,140,141,1,...,3.50,0.5,3.00,0.00,1.0,13.10,2.5,0.00,Has Passengers,Has Distance
2,2,2024-09-01 00:25:00,2024-09-01 00:34:37,2.0,2.29,1.0,N,238,152,2,...,1.00,0.5,0.00,0.00,1.0,16.00,0.0,0.00,Has Passengers,Has Distance
3,2,2024-09-01 00:31:00,2024-09-01 00:46:52,1.0,5.20,1.0,N,93,130,1,...,1.00,0.5,4.55,0.00,1.0,31.75,0.0,0.00,Has Passengers,Has Distance
4,2,2024-09-01 00:11:57,2024-09-01 00:30:41,2.0,2.26,1.0,N,79,231,1,...,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00,Has Passengers,Has Distance

### Filtering Out Outliers

In [67]:
df_clean['pickup_month'] = df_clean['tpep_pickup_datetime'].dt.strftime('%Y-%m')

In [68]:
df_clean.groupby('pickup_month').count()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,passenger_case,trip_distance_flag
pickup_month,,,,,,,,,,,,,,,,,,,,,
2008-12,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2009-01,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2024-08,31,31,31,31,31,31,31,31,31,31,...,31,31,31,31,31,31,31,31,31,31
2024-09,3632981,3632981,3632981,3632981,3632981,3149250,3149250,3632981,3632981,3632981,...,3632981,3632981,3632981,3632981,3632981,3632981,3149250,3149250,3632981,3632981
2024-10,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15

In [69]:
df_one_month = df_clean[df_clean['pickup_month'] == '2024-09']

In [70]:
df_one_month.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee', 'passenger_case',
       'trip_distance_flag', 'pickup_month'],
      dtype='object')

In [71]:
df_one_month['trip_duration'] = df_one_month['tpep_dropoff_datetime'] - df_one_month['tpep_pickup_datetime']

/var/folders/0m/749w5_d12k99913y9vhbtqrh0000gn/T/ipykernel_90339/2070169683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_one_month['trip_duration'] = df_one_month['tpep_dropoff_datetime'] - df_one_month['tpep_pickup_datetime']

In [72]:
df_one_month['trip_duration_minutes'] = df_one_month['trip_duration']/ pd.Timedelta(minutes=1)

/var/folders/0m/749w5_d12k99913y9vhbtqrh0000gn/T/ipykernel_90339/570887114.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_one_month['trip_duration_minutes'] = df_one_month['trip_duration']/ pd.Timedelta(minutes=1)

In [73]:
df_one_month[df_one_month['trip_duration_minutes'] <= 0 ]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,passenger_case,trip_distance_flag,pickup_month,trip_duration,trip_duration_minutes
8195,1,2024-09-01 03:50:10,2024-09-01 03:50:10,2.0,0.00,1.0,N,152,264,2,...,0.00,1.0,20.20,0.0,0.0,Has Passengers,No Distance,2024-09,0 days 00:00:00,0.000000
8725,2,2024-09-01 00:00:00,2024-09-01 00:00:00,5.0,1.71,1.0,N,186,113,1,...,0.00,1.0,17.10,0.0,0.0,Has Passengers,Has Distance,2024-09,0 days 00:00:00,0.000000
9755,1,2024-09-01 04:28:54,2024-09-01 04:28:54,0.0,0.00,99.0,Y,143,264,1,...,0.00,0.0,89.94,0.0,0.0,Has No Passengers,No Distance,2024-09,0 days 00:00:00,0.000000
11464,1,2024-09-01 07:48:34,2024-09-01 07:48:34,1.0,0.00,1.0,N,236,264,2,...,0.00,1.0,8.40,2.5,0.0,Has Passengers,No Distance,2024-09,0 days 00:00:00,0.000000
11465,1,2024-09-01 07:51:42,2024-09-01 07:51:42,1.0,0.00,1.0,N,263,264,2,...,0.00,1.0,7.00,2.5,0.0,Has Passengers,No Distance,2024-09,0 days 00:00:00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3626674,6,2024-09-30 06:09:45,2024-09-30 06:09:16,0.0,14.01,NaN,None,131,137,0,...,6.94,0.3,0.00,NaN,NaN,Has No Passengers,Has Distance,2024-09,-1 days +23:59:31,-0.483333
3629750,6,2024-09-30 13:09:49,2024-09-30 13:09:17,0.0,2.38,NaN,None,22,228,0,...,0.00,0.3,16.00,NaN,NaN,Has No Passengers,Has Distance,2024-09,-1 days +23:59:28,-0.533333
3629849,6,2024-09-30 14:09:57,2024-09-30 14:09:18,0.0,1.28,NaN,None,9,121,0,...,0.00,0.3,16.00,NaN,NaN,Has No Passengers,Has Distance,2024-09,-1 days +23:59:21,-0.650000
3629919,6,2024-09-30 14:09:44,2024-09-30 14:09:23,0.0,0.90,NaN,None,22,67,0,...,0.00,0.3,0.00,NaN,NaN,Has No Passengers,Has Distance,2024-09,-1 days +23:59:39,-0.350000
3630069,6,2024-09-30 15:09:24,2024-09-30 15:09:20,0.0,5.78,NaN,None,143,42,0,...,0.00,0.3,23.25,NaN,NaN,Has No Passengers,Has Distance,2024-09,-1 days +23:59:56,-0.066667

In [74]:
df_one_month[df_one_month['trip_duration_minutes'] > 120 ]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,passenger_case,trip_distance_flag,pickup_month,trip_duration,trip_duration_minutes
3131,2,2024-09-01 00:35:07,2024-09-02 00:28:12,1.0,2.56,1.0,N,137,48,2,...,0.00,1.0,22.70,2.5,0.00,Has Passengers,Has Distance,2024-09,0 days 23:53:05,1433.083333
4070,2,2024-09-01 01:36:28,2024-09-02 01:00:06,1.0,1.08,1.0,N,264,264,1,...,0.00,1.0,10.80,0.0,0.00,Has Passengers,Has Distance,2024-09,0 days 23:23:38,1403.633333
4408,2,2024-09-01 01:16:05,2024-09-01 11:15:53,1.0,22.03,4.0,N,132,28,2,...,6.94,1.0,98.19,0.0,1.75,Has Passengers,Has Distance,2024-09,0 days 09:59:48,599.800000
7551,2,2024-09-01 02:28:35,2024-09-02 02:01:26,1.0,1.43,1.0,N,144,79,1,...,0.00,1.0,14.30,2.5,0.00,Has Passengers,Has Distance,2024-09,0 days 23:32:51,1412.850000
7953,2,2024-09-01 02:31:30,2024-09-02 02:16:08,5.0,1.20,1.0,N,90,114,2,...,0.00,1.0,15.70,2.5,0.00,Has Passengers,Has Distance,2024-09,0 days 23:44:38,1424.633333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3608559,1,2024-09-29 01:56:47,2024-09-29 15:36:25,0.0,3.50,NaN,None,216,132,0,...,0.00,1.0,26.41,NaN,NaN,Has No Passengers,Has Distance,2024-09,0 days 13:39:38,819.633333
3621845,2,2024-09-29 15:23:55,2024-09-29 17:30:33,0.0,28.39,NaN,None,112,226,0,...,0.00,1.0,82.68,NaN,NaN,Has No Passengers,Has Distance,2024-09,0 days 02:06:38,126.633333
3625771,2,2024-09-29 22:04:00,2024-09-30 12:45:00,0.0,13.21,NaN,None,100,145,0,...,0.00,1.0,21.98,NaN,NaN,Has No Passengers,Has Distance,2024-09,0 days 14:41:00,881.000000
3629585,6,2024-09-30 12:09:22,2024-09-30 14:09:47,0.0,18.97,NaN,None,107,117,0,...,2.60,0.3,0.00,NaN,NaN,Has No Passengers,Has Distance,2024-09,0 days 02:00:25,120.416667
3632869,2,2024-09-30 23:32:19,2024-10-01 08:23:48,0.0,3.03,NaN,None,43,41,0,...,0.00,1.0,19.59,NaN,NaN,Has No Passengers,Has Distance,2024-09,0 days 08:51:29,531.483333

In [75]:
df_one_month.dtypes

VendorID                           int32
tpep_pickup_datetime      datetime64[us]
tpep_dropoff_datetime     datetime64[us]
passenger_count                  float64
trip_distance                    float64
RatecodeID                       float64
store_and_fwd_flag                object
PULocationID                       int32
DOLocationID                       int32
payment_type                       int64
fare_amount                      float64
extra                            float64
mta_tax                          float64
tip_amount                       float64
tolls_amount                     float64
improvement_surcharge            float64
total_amount                     float64
congestion_surcharge             float64
Airport_fee                      float64
passenger_case                    object
trip_distance_flag                object
pickup_month                      object
trip_duration            timedelta64[us]
trip_duration_minutes            float64
dtype: object

In [79]:
df_one_month['trip_duration_flag'] = df_one_month['trip_duration_minutes'].apply(lambda x: 'Invalid Trip' if x <= 0 else ('Valid Trip - Over 3hs' if x >= 120 else 'Valid Trip'))

/var/folders/0m/749w5_d12k99913y9vhbtqrh0000gn/T/ipykernel_90339/4145294568.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_one_month['trip_duration_flag'] = df_one_month['trip_duration_minutes'].apply(lambda x: 'Invalid Trip' if x <= 0 else ('Valid Trip - Over 3hs' if x >= 120 else 'Valid Trip'))

In [91]:
df_one_month.drop(columns = ['trip_duration','pickup_month'],inplace = True)

/var/folders/0m/749w5_d12k99913y9vhbtqrh0000gn/T/ipykernel_90339/724941990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_one_month.drop(columns = ['trip_duration','pickup_month'],inplace = True)

In [97]:
df_one_month['fare_flag'] = df_one_month['total_amount'].apply(lambda x: 'Invalid Fare' if x < 0 else 'Valid Fare')

/var/folders/0m/749w5_d12k99913y9vhbtqrh0000gn/T/ipykernel_90339/1762320323.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_one_month['fare_flag'] = df_one_month['total_amount'].apply(lambda x: 'Invalid Fare' if x < 0 else 'Valid Fare')

In [101]:
df_one_month.groupby('payment_type').count()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,fare_amount,...,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,passenger_case,trip_distance_flag,trip_duration_minutes,trip_duration_flag,fare_flag
payment_type,,,,,,,,,,,,,,,,,,,,,
0,483731,483731,483731,483731,483731,0,0,483731,483731,483731,...,483731,483731,483731,0,0,483731,483731,483731,483731,483731
1,2604633,2604633,2604633,2604633,2604633,2604633,2604633,2604633,2604633,2604633,...,2604633,2604633,2604633,2604633,2604633,2604633,2604633,2604633,2604633,2604633
2,445221,445221,445221,445221,445221,445221,445221,445221,445221,445221,...,445221,445221,445221,445221,445221,445221,445221,445221,445221,445221
3,25337,25337,25337,25337,25337,25337,25337,25337,25337,25337,...,25337,25337,25337,25337,25337,25337,25337,25337,25337,25337
4,74059,74059,74059,74059,74059,74059,74059,74059,74059,74059,...,74059,74059,74059,74059,74059,74059,74059,74059,74059,74059

In [105]:
df_one_month.groupby(['passenger_case','trip_distance_flag','trip_duration_flag','fare_flag']).count().reset_index()

,passenger_case,trip_distance_flag,trip_duration_flag,fare_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,trip_duration_minutes
0,Has No Passengers,Has Distance,Invalid Trip,Valid Fare,41,41,41,41,41,7,...,41,41,41,41,41,41,41,7,7,41
1,Has No Passengers,Has Distance,Valid Trip,Invalid Fare,286,286,286,286,286,2,...,286,286,286,286,286,286,286,2,2,286
2,Has No Passengers,Has Distance,Valid Trip,Valid Fare,475182,475182,475182,475182,475182,28612,...,475182,475182,475182,475182,475182,475182,475182,28612,28612,475182
3,Has No Passengers,Has Distance,Valid Trip - Over 3hs,Valid Fare,59,59,59,59,59,10,...,59,59,59,59,59,59,59,10,10,59
4,Has No Passengers,No Distance,Invalid Trip,Valid Fare,361,361,361,361,361,278,...,361,361,361,361,361,361,361,278,278,361
5,Has No Passengers,No Distance,Valid Trip,Invalid Fare,67,67,67,67,67,3,...,67,67,67,67,67,67,67,3,3,67
6,Has No Passengers,No Distance,Valid Trip,Valid Fare,38080,38080,38080,38080,38080,1434,...,38080,38080,38080,38080,38080,38080,38080,1434,1434,38080
7,Has No Passengers,No Distance,Valid Trip - Over 3hs,Valid Fare,1,1,1,1,1,0,...,1,1,1,1,1,1,1,0,0,1
8,Has Passengers,Has Distance,Invalid Trip,Valid Fare,47,47,47,47,47,47,...,47,47,47,47,47,47,47,47,47,47
9,Has Passengers,Has Distance,Valid Trip,Invalid Fare,51213,51213,51213,51213,51213,51213,...,51213,51213,51213,51213,51213,51213,51213,51213,51213,51213
10,Has Passengers,Has Distance,Valid Trip,Valid Fare,3021080,3021080,3021080,3021080,3021080,3021080,...,3021080,3021080,3021080,3021080,3021080,3021080,3021080,3021080,3021080,3021080
11,Has Passengers,Has Distance,Valid Trip - Over 3hs,Invalid Fare,53,53,53,53,53,53,...,53,53,53,53,53,53,53,53,53,53
12,Has Passengers,Has Distance,Valid Trip - Over 3hs,Valid Fare,3899,3899,3899,3899,3899,3899,...,3899,3899,3899,3899,3899,3899,3899,3899,3899,3899
13,Has Passengers,No Distance,Invalid Trip,Invalid Fare,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
14,Has Passengers,No Distance,Invalid Trip,Valid Fare,711,711,711,711,711,711,...,711,711,711,711,711,711,711,711,711,711
15,Has Passengers,No Distance,Valid Trip,Invalid Fare,4481,4481,4481,4481,4481,4481,...,4481,4481,4481,4481,4481,4481,4481,4481,4481,4481
16,Has Passengers,No Distance,Valid Trip,Valid Fare,37328,37328,37328,37328,37328,37328,...,37328,37328,37328,37328,37328,37328,37328,37328,37328,37328
17,Has Passengers,No Distance,Valid Trip - Over 3hs,Invalid Fare,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
18,Has Passengers,No Distance,Valid Trip - Over 3hs,Valid Fare,84,84,84,84,84,84,...,84,84,84,84,84,84,84,84,84,84

In [109]:

df_final = df_one_month[(df_one_month['passenger_case'] == 'Has Passengers')
                        & (df_one_month['trip_distance_flag'] == 'Has Distance')
                        & (df_one_month['trip_duration_flag'] == 'Valid Trip')
                        & (df_one_month['fare_flag'] == 'Valid Fare')
                        & (df_one_month['payment_type'] != 3)
                        ]

In [111]:
df_final.shape

(3007877, 24)