In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_parquet("../data/raw/yellow_tripdata_2024-09.parquet")
df.head()

In [3]:
df = pd.read_parquet("../data/raw/yellow_tripdata_2024-09.parquet")
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-09-01 00:05:51,2024-09-01 00:45:03,1.0,9.80,1.0,N,138,48,1,47.8,10.25,0.5,13.30,6.94,1.0,79.79,2.5,1.75
1,1,2024-09-01 00:59:35,2024-09-01 01:03:43,1.0,0.50,1.0,N,140,141,1,5.1,3.50,0.5,3.00,0.00,1.0,13.10,2.5,0.00
2,2,2024-09-01 00:25:00,2024-09-01 00:34:37,2.0,2.29,1.0,N,238,152,2,13.5,1.00,0.5,0.00,0.00,1.0,16.00,0.0,0.00
3,2,2024-09-01 00:31:00,2024-09-01 00:46:52,1.0,5.20,1.0,N,93,130,1,24.7,1.00,0.5,4.55,0.00,1.0,31.75,0.0,0.00
4,2,2024-09-01 00:11:57,2024-09-01 00:30:41,2.0,2.26,1.0,N,79,231,1,17.0,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00

In [5]:
# Finding null values
df.isna().sum()

VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          483731
trip_distance                 0
RatecodeID               483731
store_and_fwd_flag       483731
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge     483731
Airport_fee              483731
dtype: int64

In [10]:
df_clean = df.dropna(how='all')

In [13]:
df_clean.shape

(3633030, 19)

In [16]:
df_clean['passenger_case'] = df_clean['passenger_count'].apply(lambda x: 'No Passengers' if x == 0 else 'Has Passengers')

In [19]:
df_clean[df_clean['passenger_count'] == 0]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,passenger_case
272,1,2024-09-01 00:23:32,2024-09-01 01:05:26,0.0,7.60,1.0,N,48,190,1,42.9,3.50,0.5,11.95,0.0,1.0,59.85,2.5,0.00,No Passengers
513,2,2024-09-01 00:03:47,2024-09-01 00:11:42,0.0,0.88,1.0,N,170,230,2,8.6,1.00,0.5,0.00,0.0,1.0,13.60,2.5,0.00,No Passengers
532,1,2024-09-01 00:01:43,2024-09-01 00:10:43,0.0,1.00,1.0,N,186,48,1,9.3,3.50,0.5,2.85,0.0,1.0,17.15,2.5,0.00,No Passengers
533,1,2024-09-01 00:33:09,2024-09-01 00:36:54,0.0,0.70,1.0,N,186,90,1,5.8,3.50,0.5,2.70,0.0,1.0,13.50,2.5,0.00,No Passengers
559,1,2024-09-01 00:00:09,2024-09-01 00:21:17,0.0,4.00,1.0,N,158,256,1,23.3,3.50,0.5,5.65,0.0,1.0,33.95,2.5,0.00,No Passengers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3148518,1,2024-09-30 23:01:32,2024-09-30 23:21:36,0.0,5.20,1.0,N,68,166,1,26.8,3.50,0.5,4.20,0.0,1.0,36.00,2.5,0.00,No Passengers
3148519,1,2024-09-30 23:49:51,2024-10-01 00:14:44,0.0,9.60,1.0,N,68,127,1,42.2,3.50,0.5,4.00,0.0,1.0,51.20,2.5,0.00,No Passengers
3148822,1,2024-09-30 23:46:18,2024-10-01 00:05:51,0.0,13.90,1.0,N,132,7,1,53.4,2.75,0.5,11.50,0.0,1.0,69.15,0.0,1.75,No Passengers
3149213,1,2024-09-30 23:28:11,2024-09-30 23:38:38,0.0,2.10,1.0,N,79,170,1,12.1,3.50,0.5,3.40,0.0,1.0,20.50,2.5,0.00,No Passengers
3149214,1,2024-09-30 23:40:56,2024-10-01 00:05:48,0.0,4.30,1.0,N,170,7,1,24.7,3.50,0.5,5.90,0.0,1.0,35.60,2.5,0.00,No Passengers