In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_parquet("../data/raw/yellow_tripdata_2024-09.parquet")
df.head()

In [3]:
df = pd.read_parquet("../data/raw/yellow_tripdata_2024-09.parquet")
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-09-01 00:05:51,2024-09-01 00:45:03,1.0,9.80,1.0,N,138,48,1,47.8,10.25,0.5,13.30,6.94,1.0,79.79,2.5,1.75
1,1,2024-09-01 00:59:35,2024-09-01 01:03:43,1.0,0.50,1.0,N,140,141,1,5.1,3.50,0.5,3.00,0.00,1.0,13.10,2.5,0.00
2,2,2024-09-01 00:25:00,2024-09-01 00:34:37,2.0,2.29,1.0,N,238,152,2,13.5,1.00,0.5,0.00,0.00,1.0,16.00,0.0,0.00
3,2,2024-09-01 00:31:00,2024-09-01 00:46:52,1.0,5.20,1.0,N,93,130,1,24.7,1.00,0.5,4.55,0.00,1.0,31.75,0.0,0.00
4,2,2024-09-01 00:11:57,2024-09-01 00:30:41,2.0,2.26,1.0,N,79,231,1,17.0,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00

In [5]:
# Finding null values
df.isna().sum()

VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          483731
trip_distance                 0
RatecodeID               483731
store_and_fwd_flag       483731
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge     483731
Airport_fee              483731
dtype: int64

In [10]:
df_clean = df.dropna(how='all')

In [13]:
df_clean.shape

(3633030, 19)

In [16]:
df_clean['passenger_case'] = df_clean['passenger_count'].apply(lambda x: 'No Passengers' if x == 0 else 'Has Passengers')

In [21]:
df_clean.groupby('passenger_case')[['passenger_count']].sum()

                passenger_count
passenger_case
Has Passengers        4104184.0
No Passengers               0.0

In [31]:
df_clean[df_clean['trip_distance']==0]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,passenger_case
10,1,2024-09-01 00:39:39,2024-09-01 00:40:04,1.0,0.0,1.0,N,262,262,3,3.0,3.5,0.5,0.00,0.00,1.0,8.00,2.5,0.0,Has Passengers
11,1,2024-09-01 00:40:13,2024-09-01 00:40:37,1.0,0.0,1.0,N,262,262,2,3.0,3.5,0.5,0.00,0.00,1.0,8.00,2.5,0.0,Has Passengers
12,1,2024-09-01 00:42:42,2024-09-01 00:42:57,1.0,0.0,1.0,N,262,262,2,3.0,3.5,0.5,0.00,0.00,1.0,8.00,2.5,0.0,Has Passengers
74,2,2024-09-01 00:13:34,2024-09-01 00:13:40,1.0,0.0,2.0,N,249,249,4,-70.0,0.0,-0.5,0.00,0.00,-1.0,-74.00,-2.5,0.0,Has Passengers
75,2,2024-09-01 00:13:34,2024-09-01 00:13:40,1.0,0.0,2.0,N,249,249,4,70.0,0.0,0.5,0.00,0.00,1.0,74.00,2.5,0.0,Has Passengers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3632755,2,2024-09-30 22:12:17,2024-09-30 22:12:38,NaN,0.0,NaN,None,107,107,0,-3.0,0.0,0.5,0.00,0.00,1.0,1.00,NaN,NaN,Has Passengers
3632777,2,2024-09-30 22:43:39,2024-09-30 22:43:52,NaN,0.0,NaN,None,249,249,0,11.1,0.0,0.5,0.00,0.00,1.0,15.10,NaN,NaN,Has Passengers
3632796,1,2024-09-30 22:17:39,2024-09-30 22:23:00,NaN,0.0,NaN,None,43,143,0,6.5,1.0,0.5,1.72,0.00,1.0,13.22,NaN,NaN,Has Passengers
3632806,1,2024-09-30 23:28:13,2024-09-30 23:42:19,NaN,0.0,NaN,None,79,100,0,14.0,2.0,0.5,2.80,0.00,1.0,24.80,NaN,NaN,Has Passengers
3633026,1,2024-09-30 23:29:30,2024-10-01 00:41:40,NaN,0.0,NaN,None,230,10,0,60.0,2.0,0.5,0.00,6.94,1.0,74.94,NaN,NaN,Has Passengers

In [32]:
df_clean['trip_distance_flag'] = df_clean['trip_distance'].apply(lambda x: 'No Distance' if x == 0 else 'Has Distance')

In [35]:
df_clean.groupby('trip_distance_flag')[['trip_distance']].sum()

                    trip_distance
trip_distance_flag
Has Distance          20858929.41
No Distance                  0.00

In [36]:
df_clean.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,passenger_case,trip_distance_flag
0,1,2024-09-01 00:05:51,2024-09-01 00:45:03,1.0,9.80,1.0,N,138,48,1,...,10.25,0.5,13.30,6.94,1.0,79.79,2.5,1.75,Has Passengers,Has Distance
1,1,2024-09-01 00:59:35,2024-09-01 01:03:43,1.0,0.50,1.0,N,140,141,1,...,3.50,0.5,3.00,0.00,1.0,13.10,2.5,0.00,Has Passengers,Has Distance
2,2,2024-09-01 00:25:00,2024-09-01 00:34:37,2.0,2.29,1.0,N,238,152,2,...,1.00,0.5,0.00,0.00,1.0,16.00,0.0,0.00,Has Passengers,Has Distance
3,2,2024-09-01 00:31:00,2024-09-01 00:46:52,1.0,5.20,1.0,N,93,130,1,...,1.00,0.5,4.55,0.00,1.0,31.75,0.0,0.00,Has Passengers,Has Distance
4,2,2024-09-01 00:11:57,2024-09-01 00:30:41,2.0,2.26,1.0,N,79,231,1,...,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00,Has Passengers,Has Distance